<div>
  <div class="form-group">
    <label for="registro-nombre">Nombre</label>
    <input [(ngModel)]="name" type="text" class="form-control" id="registro-nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label for="registro-apellidos">Apellidos</label>
    <input [(ngModel)]="lastName" type="text" class="form-control" id="registro-apellidos" placeholder="Apellidos">
  </div>
  <div class="form-group">
    <label for="registro-email">Dirección de Email</label>
    <input [(ngModel)]="email" type="email" class="form-control" id="registro-email" aria-describedby="emailHelp"
      placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="registro-contrasena">Contraseña</label>
    <input [(ngModel)]="password" type="password" class="form-control" id="registro-contrasena" placeholder="Contraseña">
  </div>

  <div class="form-group">
    <label for="registro-contrasena-bis">Repite Contraseña</label>
    <input [(ngModel)]="password_bis" type="password" class="form-control" id="registro-contrasena-bis" placeholder="Repite contraseña">
  </div>

  <button (click)="registro()" class="btn btn-sm btn-primary">Registro</button>
</div>